.container {
  margin: 2rem 1rem;
}
.mat-card {
  max-width: 100rem;
  margin: 2rem 1rem;
}
.flexi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.f-weight{
    font-weight: 600;
}